html{
    /*background-image: url("Images/background.png.jpg");*/
    background-color: grey;
    scroll-behavior: smooth;
    animation: fadein 3s;
}
.main-header{
    background-size: cover;
    animation: fadeIn 3s;
}
* {
    box-sizing: border-box;
    color: white;
}

.nav ul{
    margin: 0;
}

.nav li{
    display:inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

img {
    border-radius: 50%;
  }
.body{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resumesec{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav a:hover{
    background-color: rgba(255, 255, 255, .3)
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    
}
.main-body{
    animation: fadein 3s;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}


@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}